{% load i18n %}

<div class="eolquestion_block {{xblock.theme}} {% if xblock.type == 'No Calificada' %} {{xblock.theme}}-No-Calificada {% else %} {{xblock.theme}}-{{xblock.type}} {% endif %}" style=" border-color: {{ xblock.color }}; ">
    <div class="q-tooltip index {% if xblock.type == 'No Calificada' %} No-Calificada {% else %} {{xblock.type}} {% endif %}">
        <span class="index-number">{{xblock.index}}</span>
        <span class="q-tooltiptext"  style=" background-color: {{ xblock.color }}; ">{% trans "Pregunta" %} {{xblock.type}}</span>
    </div>
    <div class="separator" {style=" background-color: {{ xblock.color }};" ></div>
    <div class="text">
        {{xblock.text | safe}}
    </div>
    <div style="clear:both;"></div>
</div>